<div class="container divcenter">
    <div class="row">
        <div class="col-md-12">
            <!-- Ejemplo de databinding de componente a la vista que es esta. Es el nombre de la variable definida en el componente Login. -->
            <!-- Databinding con una clase CSS se realiza con '[]' especificando el nombre de la clase igual a condición especificada del componente que deba cumplir. -->
            <h3 [class.titleLogin]="this.titleLogin">{{ this.title }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="user">Usuario</label>
                <!-- mediante el evento keyup (presionar tecla) ejecuta el método especificado en el componente Login pasando como parámetro el resultado del evento keyup con la variable '$event'. -->
                <input type="email" (keyup)="this.validateEmail($event)" class="form-control" id="user">
            </div>
            <div>
                {{ this.msgUser }}
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password">
            </div>
            <!-- el evento 'click' gracias al databinding de vista a componente ejecuta el método ubicado en el componente login. -->
            <button type="submit" (click)="this.sendLogin()" class="btn btn-primary">Submit</button>
        </div>
    </div>
</div>